text {
    shadow: false;
    color: #404040;
}

#edit-button {
    background-texture: assets("armedlogistics:textures/gui/pencil.png");
}

#edit-button:hover {
    background-texture: assets("armedlogistics:textures/gui/pencil-hover.png");
}

#edit-field {
    cursor-color: #000000 78%;
}

#edit-field .text {
    color: #404040;
    shadow-color: #8B8B8B;
}

#survival-inventory {
    background-texture: assets("armedlogistics:textures/gui/survival_inventory.png");
}