.facing-slot {
    background-texture: url("woodengears:textures/gui/tab-facing/facing_background_none.png");
    border-color: black;
    border-width: 1;
}

.facing-slot:hover {
    background-texture: url("woodengears:textures/gui/tab-facing/facing_background_none_hover.png");
}

.facing-slot.facing-north:active {
    background-texture: url("woodengears:textures/gui/tab-facing/facing_background_north.png");
}


.facing-slot.facing-north:active:hover, .facing-slot.facing-north.fakehover:active {
    background-texture: url("woodengears:textures/gui/tab-facing/facing_background_north_hover.png");
}

.facing-slot.facing-south:active {
    background-texture: url("woodengears:textures/gui/tab-facing/facing_background_south.png");
}


.facing-slot.facing-south:active:hover, .facing-slot.facing-south.fakehover:active {
    background-texture: url("woodengears:textures/gui/tab-facing/facing_background_south_hover.png");
}

.facing-slot.facing-east:active {
    background-texture: url("woodengears:textures/gui/tab-facing/facing_background_east.png");
}


.facing-slot.facing-east:active:hover, .facing-slot.facing-east.fakehover:active {
    background-texture: url("woodengears:textures/gui/tab-facing/facing_background_east_hover.png");
}

.facing-slot.facing-west:active {
    background-texture: url("woodengears:textures/gui/tab-facing/facing_background_west.png");
}


.facing-slot.facing-west:active:hover, .facing-slot.facing-west.fakehover:active {
    background-texture: url("woodengears:textures/gui/tab-facing/facing_background_west_hover.png");
}

.facing-slot.facing-up:active {
    background-texture: url("woodengears:textures/gui/tab-facing/facing_background_up.png");
}


.facing-slot.facing-up:active:hover, .facing-slot.facing-up.fakehover:active {
    background-texture: url("woodengears:textures/gui/tab-facing/facing_background_up_hover.png");
}

.facing-slot.facing-down:active {
    background-texture: url("woodengears:textures/gui/tab-facing/facing_background_down.png");
}


.facing-slot.facing-down:active:hover, .facing-slot.facing-down.fakehover:active {
    background-texture: url("woodengears:textures/gui/tab-facing/facing_background_down_hover.png");
}

#facing-list {
    background-color: #C6C6C6;
    border-width: 4;
    border-image-source: url("woodengears:textures/gui/background_generic.png");
    border-image-slice: 40%;
}

.facing-line {
    border-color: black;
    border-width: 1;
}

.facing-line.facing-up {
    background-texture: url("woodengears:textures/gui/tab-facing/facing_line_up.png");
}

.facing-line.facing-up:hover, .facing-line.facing-up.fakehover {
    background-texture: url("woodengears:textures/gui/tab-facing/facing_line_up_hover.png");
}

.facing-line.facing-down {
    background-texture: url("woodengears:textures/gui/tab-facing/facing_line_down.png");
}

.facing-line.facing-down:hover, .facing-line.facing-down.fakehover {
    background-texture: url("woodengears:textures/gui/tab-facing/facing_line_down_hover.png");
}

.facing-line.facing-north {
    background-texture: url("woodengears:textures/gui/tab-facing/facing_line_north.png");
}

.facing-line.facing-north:hover, .facing-line.facing-north.fakehover {
    background-texture: url("woodengears:textures/gui/tab-facing/facing_line_north_hover.png");
}

.facing-line.facing-south {
    background-texture: url("woodengears:textures/gui/tab-facing/facing_line_south.png");
}

.facing-line.facing-south:hover, .facing-line.facing-south.fakehover {
    background-texture: url("woodengears:textures/gui/tab-facing/facing_line_south_hover.png");
}

.facing-line.facing-east {
    background-texture: url("woodengears:textures/gui/tab-facing/facing_line_east.png");
}

.facing-line.facing-east:hover, .facing-line.facing-east.fakehover {
    background-texture: url("woodengears:textures/gui/tab-facing/facing_line_east_hover.png");
}

.facing-line.facing-west {
    background-texture: url("woodengears:textures/gui/tab-facing/facing_line_west.png");
}

.facing-line.facing-west:hover, .facing-line.facing-west.fakehover {
    background-texture: url("woodengears:textures/gui/tab-facing/facing_line_west_hover.png");
}

.facing-line:first-child {
    border-radius: 1 1 0 0;
}

.facing-line:last-child {
    border-radius: 0 0 1 1;
}

.close-icon {
    background-texture: url("woodengears:textures/gui/icon/close.png")
}

.close-icon:hover {
    background-texture: url("woodengears:textures/gui/icon/close_hover.png")
}