#stacks-panel {
    background-texture: url("woodengears:textures/gui/inv_preview.png");
}

#stacks-panel:disabled {
    background-color: #000000 25%;
}

.box-line {
    color: #23405c;
}

#inv-label {
    background-color: #71a3d6;
}

#inv-label.status-invalid {
    background-color: #d67b71;
}

#empty-label {
    background-texture: url("woodengears:textures/gui/error-label.png");
}

#more-button {
    background-texture: url("woodengears:textures/gui/more-bar.png");
}

#more-button:hover {
    background-texture: url("woodengears:textures/gui/more-bar-hover.png");
}

#more-button text, #empty-label text {
    color: #404040;
}

#inv-window {
    background-texture: url("woodengears:textures/gui/inv-window.png");
}

#inv-window-top {
    background-texture: url("woodengears:textures/gui/inv-window-top.png");
}

#inv-window-bottom {
    background-texture: url("woodengears:textures/gui/inv-window-bottom.png");
}

scrollpane .grip-y {
    texture: url("woodengears:textures/gui/inv-window-scroll.png");
    color: rgba(0, 0, 0, 0);
}
