text {
    -shadow: false;
    -color: #404040;
}

#stacks-panel {
    -background-color: #9C9C9C;
}

.box-line-top {
    -color: #8B8B8B;
}

.box-line-bottom {
    -color: #555555;
}

#status-label {
    -background-texture: url("woodengears:textures/gui/text-bar.png");
}

.status-invalid text {
    -color: #C51162;
}

.status-valid text {
    -color: #087F23;
}

#more-button, #empty-label {
    -background-texture: url("woodengears:textures/gui/more-bar.png");
}

#more-button:hover, #empty-label:hover {
    -background-texture: url("woodengears:textures/gui/more-bar-hover.png");
}

#more-button text, #empty-label text {
    -color: #1976D2;
}

#inv-window {
    -background-texture: url("woodengears:textures/gui/inv-window.png");
}

#inv-window-top {
    -background-texture: url("woodengears:textures/gui/inv-window-top.png");
}

#inv-window-bottom {
    -background-texture: url("woodengears:textures/gui/inv-window-bottom.png");
}

scrollpane .grip-y {
    -texture: url("woodengears:textures/gui/inv-window-scroll.png");
    -color: rgba(0, 0, 0, 0);
}