.sok-button .mark {
    background-color: rgba(0, 0, 0, 0);
}

.sok-button .box {
    background-texture: url("woodengears:textures/gui/request_sok_button_off.png");
    border-color: #555555;
    border-radius: 2;
}

.sok-button:active .box {
    background-texture: url("woodengears:textures/gui/request_sok_button.png");
}

.sok-button:hover .box {
    foreground-color: #FFFFFF 25%;
}

#sokcombo {
    background-color: #C6C6C6;
    border-width: 4;
    border-image-source: url("woodengears:textures/gui/background_generic.png");
    border-image-slice: 40%;
}

#soklines {
    border-width: 0 1;
    border-color: #373737;
}
